[submodule "api"]
  path = api
  url = https://github.com/tackernao0522/rails6_vue3cli_chatapp_api
[submodule "front"]
  path = front
  url = https://github.com/tackernao0522/rails6_vue3cli_chatapp_front

